<% if current_user%>
  <p>hello <%=current_user.email%></p>
  <p> welcome to the application, you are a <%=current_user.role%></p> 
  <%= link_to "All Products",products_path%>



    <%if current_user.role=="manufacture"%>
      <%=link_to "All Customers",customers_path%>
      <%=link_to "WAREHOUSE",warehouses_path%>

    <%end%>

  <%if current_user.role=="agent"%>
    <%=button_to "Add Products"%>
  <%end%>

  <%if current_user.role=="customer"%>
    <%=link_to "myproducts",myproducts_path%>
  <%end%>
<%else%>
<h1> Welcome </h1>
<%=button_to "Sign In", new_user_session_path%><br> 
<%=button_to "Sign Up", user_registration_path%><br> 
<%end%>

